*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
    width: 421px;
    height: 533px;
    box-shadow: 0 0 5px;
    border: 0.2px solid beige;
    margin-left: 0;
    background-position: center;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color:#99CCFF;
}
.main h1{
    text-align: center;
    padding: 15px;
}
.main input[type=radio] {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px;
    outline: none;
    justify-content: space-between;
    padding: 12px 12px;
    
}
.main .radio{
    text-align: center;   
}
.main .radio{
    accent-color: blue;
}
.box{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-name{
    background-color: white;
    width: 250px;
    height: 30px;
    margin-top: 15px;
   margin-left: 60px;
}
.box-name i{
    background-color: blue;
    width: 30px;
    min-height: 30px;
    text-align: center;

}
.box-name input{
    outline: none;
    border: none;
    width: 220px;
    height: 30px;
    position: absolute;
    padding-left: 4px;
}
.box-email {
    background-color: white;
    width: 250px;
    height: 30px;
    margin-top: 15px;
   margin-left: 60px;
}
.box-email i{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
}
.box-email input{
    outline: none;
    border: none;
    width: 220px;
    height: 30px;
    position: absolute;
    padding-left: 4px;
}
.box-pass{
    background-color: white;
    width: 250px;
    height: 30px;
    margin-top: 15px;
   margin-left: 60px;
}
.box-pass i{
    background-color: blue;
    width: 30px;
    height: 30px;
    text-align: center;
}
.box-pass input{
    outline: none;
    border: none;
    width: 220px;
    height: 30px;
    position: absolute;
    padding-left: 4px;

}
.main .box-1 {
    display: flex;
}
.main .box-1 p a{
    text-decoration: none;
}
.main .box-1 a:hover{
    text-decoration: underline;
}
.main button{
    background: blue;
    backdrop-filter: 1px;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transform: 0.2;
}


