
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .main {
    display: grid;
    grid-template-rows: 20% 80%;
  }
  
  .header {
    background-color: green;
    color: white;
    padding-left: 20px;
    height: 100px;
    max-width: 100%;
  }
  
  .footer div {
    width: 500px;
    height: 537px;
    border: 3px solid wheat;
    margin: 10px;
    border-radius: 3px;
    /* max-width: 100%;
    height: auto; */
    padding-left: 10px;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-1 {
    flex-basis: 20%;
  }
  
  /* .footer div {
    border: 3px solid wheat;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    
  } */
  
  .footer-1 img {
    width: 75%;
    height: 150px;
    padding-bottom: 10px;
  }
  
  .footer h2, p {
    padding-bottom: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: row;
    }
  
    .footer-1 {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  
    .footer div {
      width: 100%;
      height: auto;
      margin: 10px;
    }
  }

  @media screen and (max-width:768px){
    .footer div {
        border: 3px solid wheat;
        margin: 10px;
        border-radius: 3px;
        padding: 20px;
        width: 462px;
        height: 600px;
        
      }
  } 