*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background-color: beige; 
}
.main{
    border: 3px solid gray;
    padding: 30px 30px;
    border-radius: 2px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px;
    border: 2px solid black; 
}
.main-1{
    display: grid;
    grid-template-columns: 40% 60%;
}
.main .left h5{
   margin-right: 20px;
    font-size: 15px;
    margin-bottom: 18px;
    padding-bottom: 15px;
}
.main .input input {
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
   
}

.input{
    background-color:#fff;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    padding-right:5px ;
    box-shadow: 0px 2px 5px gray;
}
.input input[type=text]{
    padding-left: 100x;
    padding-right: 10px;
    padding: 10px;
}

.input input[type=password]{
    padding-left: 100x;
    padding-right: 10px;
    border-top: 1px solid black;
    padding: 10px;
    border: none;
}
.input input[type=email]{
    padding-left: 100x;
    padding-right: 10px;
    border-top: 1px solid black;
    padding: 10px;
    border: none;
}
.input i{
    background-color: gray;
    width: 34px;
    height: 40px;
    padding-top: 10px;
}

.main .input .Department{
    border: 1px solid black;
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding-left: 100x;
    padding-right: 10px;
}

.buttom {
    width: 100px;
    height: 50px;
    background-color: grey;
    border-radius: 3px;
    justify-content: flex-end;
}
.botom{
    display: flex;
    justify-content: flex-end;
}
.buttom input{
    padding-top: 14px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    
}
.buttom input:hover{
    cursor: pointer;
    color: white;
}

