body{
    text-align: center;
}
.header{
    font-size: 40px;
    font-weight: bold;
    color: green;
}
@media screen and (max-width:800px){
    body{
        text-align: left;
        background-color: goldenrod;
    }
    .header{
        font-size: 30px;
        font-weight: bold;
        color:white;
    }
    .footer{
        color: aquamarine;
    }
}
@media screen and (max-width:500px){
    body{
        text-align: right;
        background-color: blue;
    }
}