body{
    background-color: gray;
}
@media screen and (max-width:960px){
    body{background-color: orange;
}
img{
    width: 30px;
    height: 30px;
}

}
@media screen and (max-width:768px){
    body{background-color: red;}
}
@media screen and (max-width:550px){
    body{background-color: blue;}
}
@media screen and (max-width:320px){
    body{background-color: green;}
}